{% extends "layout/base.html" %}

{% block title %} Photography Workshop {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}
<section class="attendees" style="height:100vh;background-image:url({{url_for('static', filename='img/back.png')}});background-size:cover;background-repeat:no-repeat;">
<div class="container">
    <div class="row">
    <h1 style="margin-top:170px; text-align:center;font-weight:800; margin-bottom:50px;">Registered Candidates <i class="fas fa-users"></i></h1>
        <table class="attendees-table" style="text-align:center;">
            <th style="width:10%;">Avatar</th>
            <th style="width:20%;">Name</th>
            <th style="width:20%;">Age</th>
            <th style="width:20%;">State</th>
            <th style="width:30%;">Education</th>
            {% for user in users %}
                <tr>
                    <td><img src="{{user.avatar}}" style="height:84px;width:83px;border-radius:50%;"></td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.state}}</td>
                    <td>{{user.education}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
</section>
{% endblock content %}