{% extends "layout/base.html" %}

{% block title %} To-do App {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main>
<hr>
<button type="button" id="new" class="btn" data-toggle="modal" data-target="#exampleModalCenter"><b>Add New</b></button>

<table>
<tr>
<th>ID</th>
<th>Task Name</th>
<th>Description</th>
<th>Deadline</th>
<th>Status</th>
</tr>
</table>
</main>
{% endblock content %}