{% extends "layout/base.html" %}

{% block title %} Photography Workshop {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}
<section class="form" >
<div class="container">
    <div class="row">
    <h1 style="margin-top:170px; text-align:center;font-weight:800;">Register Yourself <i class="fas fa-user"></i></h1>
        <form id="register-form" style="margin-bottom:45px;">
            <label for="state" class="form-label hello">Choose your profile picture (Click on the image to get more Avatars)</label>
            <select id="id_select2_example" style="width: 200px;">
             {% for ava in avatars %}
              <option data-img_src="{{ava.link}}">{{ava.id}}</option>
            {% endfor %}
            </select>
            <div class="mb-3">
                <label for="Name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
              <label for="Email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="Phone" class="form-label">Phone number</label>
                <input type="phone" class="form-control" id="phone" required>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="age" class="form-control" id="age" required>
            </div>
            <label for="Education" class="form-label">Your highest Education</label>
            <select class="form-select" id="education" required>
                <option value="Twelveth Pass">10+2</option>
                <option value="Under Graduate">Under-Graduate</option>
                <option value="Post Graduate">Post-Graduate</option>
            </select><br>
            <label for="state" class="form-label">State(We are only organising for few states)</label>
            <select class="form-select" id="state" required>
                <option value="Delhi">Delhi</option>
                <option value="Haryana">Haryana</option>
                <option value="Kerela">Kerela</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
            </select>
            
            <span style="width:100%;"><button type="submit" class="btn btn-primary" id="btn-register">Submit</button></span>
          </form><hr>
    </div>
  </div>
  </section>
<script>
function custom_template(obj){
        	var data = $(obj.element).data();
        	var text = $(obj.element).text();
        	if(data && data['img_src']){
	        	img_src = data['img_src'];
	        	template = $("<div style='text-align:center;' class='div-img-dropdown'><img src=\"" + img_src + "\" style=\"border-radius:50%;width:50%;height:62px;\"/></div>");
	        	return template;
	        }
        }
	var options = {
		'templateSelection': custom_template,
		'templateResult': custom_template,
	}
	$('#id_select2_example').select2(options);
  $('.select2-container--default .select2-selection--single').css({'height': '220px'});

$(document).on('click', '#btn-register', function(e){
    e.preventDefault();
    var form = $('#register-form');

    let name = $('#name').val();
    let email = $('#email').val();
    let phone = $('#phone').val();
    let age = $('#age').val();
    let education = $('#education').val();
    let state = $('#state').val();
    let avatar= $('#id_select2_example').val();
    jsondata={
      "name":name,
      "email":email,
      "phone":phone,
      "age":age,
      "education":education,
      "state":state,
      "avatar":avatar
    }
    

    // disabled the submit button
    $("#btn-register").prop("disabled", true);
    $.ajax({
      type: "POST",
      data: jsondata,
      url:"/add-user",
      dataType : "json",
        complete: function(resp){
          $("#btn-register").prop("disabled", false); 
          alert(resp.responseText);
          // enabled the submit button
        }
      });
});
</script>

{% endblock content %}